 
  body, html {
    margin: 0;
    padding-top: 55px;
    box-sizing: border-box;
    color: #222222;            
    font-family: 'Segoe UI', sans-serif; 
    overflow-x: hidden;
    background: #e3e6e6;
  }
  
 .main-header {
    background: linear-gradient(to top, #ffe3f1, #c0e6f7);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  .main-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
  }
  
  .main-nav ul {
    display: flex;
    list-style: none;
    gap:80px;
    margin: 0 auto;
    padding: 0;
  }
  
  .main-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: inline-block; 
  }

  .main-nav a:hover {
    transform: scale(1.1); 
  }
  
  .main-nav a.active {
    background-color: #89596d;
    color: white;
    padding: 0.4px 12px;
    border-radius: 4px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 18px;
    background-color: #89596d;
    color: white;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    left: 45%;
  }
  
  .menu-toggle:hover {
    background-color: #5c2d43;
  }
  
  .main-footer {
    background: linear-gradient(to top, #ffe3f1, #c0e6f7);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-footer p {
    margin: 0;
  }

  .section-container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    line-height: 1.6;
    color: #222222;
  }

  .section-container h2,
  .calculator-container h2 {
    margin-bottom: 20px;
    color: #89596d;
    font-size: 34px;
  }

  .name {
    font-weight: bold;
    font-size: 28px;
    color: rgb(87, 81, 81);
  }

  #dark-mode-toggle {
    background: none;
    border: none;
    font-size: 38px; 
    cursor: pointer;
    margin-left: 20px; 
  }
  
  #dark-mode-toggle:focus {
    outline: none; 
  }

  body.dark-mode,
  body.dark-mode main,
  body.dark-mode section,
  body.dark-mode .hero-section,
  body.dark-mode .about-section,
  body.dark-mode .skills-section,
  body.dark-mode .calculator-section,
  body.dark-mode .cta-section {
    background: #4c4848; 
  }

  body.dark-mode .main-header,
  body.dark-mode .main-footer {
    background: linear-gradient(to top, #373a40, #77a1b6);
  }

  body.dark-mode .main-nav a {
    color: #ffffff; 
  }

  body.dark-mode .main-nav a.active {
    background-color: #5b777d; 
    color: #000000; 
  }

  body.dark-mode p,
  body.dark-mode li,
  body.dark-mode label,
  body.dark-mode input::placeholder {
    color: #070505;
  }

  body.dark-mode h2{
    color: #3a1625; 
  }

  body.dark-mode .section-container,
  body.dark-mode .project-card,
  body.dark-mode .calculator-box,
  body.dark-mode .info-card {
    background-color: #989797;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  }

  body.dark-mode .main-nav ul {
    background: none; 
  }
  
  body.dark-mode .main-nav li a {
    background: none; 
  }

  body.dark-mode .main-nav ul {
    background-color: #3c3939;
  }

  body.dark-mode input,
  body.dark-mode select {
    background-color: #555555; 
    color: #000000;
    border: 1px solid #777;
  }

  body.dark-mode .name {
    color: #ffffff;
  }

  body.dark-mode .result-box {
    background-color:  #474545;
    color: #f0f0f0;
  }

  body.dark-mode .reset-btn {
    background-color: #474545;
    color: #000000;
  }

  body.dark-mode .reset-btn:hover {
    background-color: #8f3939;
  }

  body.dark-mode .calculate-btn {
    background-color: #322c2e;
    color: #ffffff;
  }

  body.dark-mode .calculate-btn:hover {
    background-color: #10060b;
  }

  body.dark-mode i {
    color: #464444;
  }

 @media only screen and (max-width: 767px) {

  .main-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 18px;
    position: relative;
    height: 100px;
  }

  .main-nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 10px;
    padding:20px 0;
    text-align: center;
    background: #89596d;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
    
  .main-nav ul.active {
    display: flex;
  }
    
  .menu-toggle {
    display: block;
    align-self: center;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: #89596d;
    color: white;
    font-size: 26px;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
    
  .main-nav a {
    display: block;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

 .section-container {
    padding: 20px;
    border-radius: 15px;
  }

  .section-container h2 {
    font-size: 26px;
  }

  .name {
    font-size: 20px;
  }

  .main-footer {
    font-size: 14px;
  }
}
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {

  .main-nav ul {
    gap: 50px;
  }
  
  .main-nav {
    font-size: 18px;
    padding: 0 20px;
  }

  .section-container {
    padding: 30px;
    font-size: 17px;
  }

  .section-container h2 {
    font-size: 30px;
  }

  .name {
    font-size: 26px;
  }

  .main-footer {
    font-size: 15px;
  }
}
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  
  .main-nav {
    font-size: 19px;
    padding: 0 30px;
  }

 .main-nav ul {
    gap: 70px;
  }

  .section-container {
    padding: 40px;
    font-size: 17.5px;
  }

  .section-container h2 {
    font-size: 34px;
  }

  .name {
    font-size: 28px;
  }

  .main-footer {
    font-size: 16px;
  }
}

  @media only screen and (min-width: 1200px) {
   
  .main-nav {
    font-size: 20px;
    padding: 0 40px;
  }

  .main-nav ul {
    gap: 80px;
  }

  .section-container {
    padding: 48px;
    font-size: 18px;
  }

  .section-container h2 {
    font-size: 36px;
  }

  .name {
    font-size: 30px;
  }

  .main-footer {
    font-size: 16px;
  }
}
   


 

  

  
  
  
 