
 .hero-section {
    background:var( --backgrund-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 40px;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
    margin-bottom: 40px;
    padding-bottom: 40px;
    flex-direction: row
  }
  
 .hero-image .profile-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
  }
  
 .hero-text {
    max-width: 500px;
    text-align: left;
  }
  
 .hero-hello {
    font-size: 25px;
    color: #353333;
    margin: 0;
  }

  
 .hero-text h1 {
    font-size: 50px;
    margin: 10px 0;
    color: #222;
  }
  
 .hero-description {
    font-size: 18px;
    color: #353333;
    margin-bottom: 24px;
  }

  body.dark-mode .hero-hello, 
  body.dark-mode .hero-text h1,
  body.dark-mode .hero-description{
    color: var(--white);
  }
  
  
 .resume-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color:var(--purple);
    color: var( --white);  
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;

  }

  body.dark-mode .resume-btn{
     background-color:var(--purple-white);
     color: var( --black);  
  }
  
 .resume-btn:hover {
    background-color: #5c2d43;
  }

 .cta-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    font-size: 17px;
    background: var(--backgrund-color);
    align-items: flex-start;
    flex-direction: row;
  }
  
 .cta-column {
    flex: 1;
    min-width: 280px;
    padding: 0 20px;
  }

 .cta-column.contact-info {
    border-right: 2px solid var(--black);
    min-height: 550px;
    padding-right: 30px;
  }
  
  body.dark-mode .cta-column.contact-info {
    border-right: 2px solid var(--purple-white);
  }

 .cta-column.projects {
    padding-left: 30px;
  }  

 .info-card {
    background-color:transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

 .contact-info li {
    margin-bottom: 12px;
    list-style-type: none;
  }
  
 .contact-info a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
  }
  
 .contact-info i {
    margin-right: 10px;
    color:var(--purple);
    font-size: 18px;
    vertical-align: middle;
  }
  
 .contact-info a:hover {
    text-decoration: underline;
  }
  
  .projects h2,
  .contact-info h2 {
    margin-bottom: 20px;
  }

 .project-card {
    background-color:transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;

  }
  
 .project-card img {
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
  }
  
 .project-card p {
    margin: 10px 0;
  }

 .project-card a {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  body.dark-mode .project-card a {
    color: var(--purple-white);
  }
  
 .project-card a:hover {
    text-decoration: underline;
  }

 @media only screen and (max-width: 767px) {
   
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
        gap: 30px;
    }
    
    .hero-text {
        text-align: center;
    }
    
    .hero-image .profile-img {
        width: 240px;
        height: 240px;
    } 
    
    .cta-section {
        flex-direction: column;
        padding: 15px 15px;
    }

    .cta-column.projects {
        border-top: 2px solid var(--purple);
        padding-top: 20px;
        margin-top: 20px;
      }
    
      body.dark-mode .cta-column.projects {
        border-top: 2px solid var(--purple-white);
      }
    .cta-column.contact-info {
        min-height: auto; 
        border-right: none; 
        padding-right: 0; 
      }
  }

 @media only screen and (min-width: 768px) and (max-width: 991px) {

    .hero-section {
       flex-direction: row;
       gap: 50px;
       padding: 40px 30px;
    }
  
    .hero-image .profile-img {
       width: 320px;
       height: 320px;
    }

    .cta-column.contact-info {
      border-right: 2px solid var(--purple);
      min-height: 400px; 
      padding-right: 30px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {

    .hero-section {
      gap: 60px;
      padding: 60px 50px;
      flex-direction: row;
    }
  
    
    .cta-column.contact-info {
      border-right: 2px solid var(--purple);
      min-height: 450px;
      padding-right: 30px;
    }
   
  }

  @media only screen and (min-width: 1200px) {
    
    .hero-section {
      gap: 80px;
      padding: 70px 50px;
      flex-direction: row;
    }
    
    .cta-column.contact-info {
      border-right: 2px solid var(--purple);
      min-height: 550px;
      padding-right: 30px;
    }
    
    

  }

 