:root {
  --main-box-color: #ece7df;
  --backgrund-color: #d8d8d8;
  --footer-header: #b3aeac;
  --white: #ffffff;
  --black: #000000;
  --purple: #54473f;
  --background-dark: #241c16;
  --footer-header-dark: #383029;
  --main-box-dark: #5a504b;
  --purple-white: #b3b3b3;
  --button: #484141;
  --h-dark: #d2d3d3;
  --hover-dark: #7d777a;
  --hover: rgb(68, 52, 52);
}
